body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 16px;
  background: #fff;
  color: #666;
  font-weight: 300;
  word-wrap: break-word;
}

a {
  color: #fa4c00;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #000
}

p, ul, ol {
  font-size: 15px;
  font-family: "Roboto", Arial, serif;
}

li p {
  margin: 0;

}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  margin: 0 0 20px 0;
}
h1 { margin-bottom: 0; }

::selection {
  color: #fcfcfc;
  background: #2da9d7;
}

#fh5co-header {
  padding-top: 40px;
  margin-bottom: 30px;
}
#fh5co-header #fh5co-logo img {
  max-width: 100%;
}
#fh5co-header nav {
  padding-top: 20px;
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-header nav ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
  font-size: 15px;
}
#fh5co-header nav ul li a {
  color: #444;
  padding: 10px;
  text-decoration: none;
}
#fh5co-header nav ul li a:hover { color: black; }

.footer-content {
  margin: 0 auto;
  max-width: 1400px;
}

.page-content {
  margin: 0 auto;
  max-width: 620px;
  width: 100%;
  padding: 70px 10px;
}
.page-content img {
  max-width: 100%;
}
.page-content .meta {
  margin-bottom: 20px;
}
.page-content .meta span,
  .page-content .meta a { color: #555; }
.page-content .meta a:hover { color: black; }

@media screen and (max-width: 480px) {
  .page-content {
    padding: 30px 10px;
  }
}

#fh5co-footer {
  float: left;
  width: 100%;
  background: #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #444;
}
#fh5co-footer a { color: #666; }
#fh5co-footer a:hover { color: black; }

.square {
  list-style: square;
}

.copyleft-icon {
  transform: rotateY(180deg);
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
